
<header class="header">
  <div class ="logo">
    <a class="logo-font" href="index">My profile</a>
  </div>


  <div class ="logout_button">
  <form class="button_to" method="get" action="/sessions/new">
    <button class="header-button" type="submit">ログイン</button>
  </form>
</div>

</header>
